[admin]
APIUSER = {APIユーザー名} ex: gncu00000000
APIPASS = {APIパスワード}
TENANT = {テナントID} ex: 081a3dbedcb84482xxxxxxxxxxxxxxxx

[server]
ROOTPASS = {ROOTパスワード}   <-- 省略するとコマンドライン引数から取得する
STAG = {ネームタグ}           <-- 省略するとコマンドライン引数から取得する
SECGRP = {セキュリティグループ} ex: allow-ssh-web
IMAGENAME = {VPSイメージ名} ex. vmi-ubuntu-18.04-amd64-20gb
FLAVORNAME = {VPSプラン名} ex. g-c2m1d100
SCRIPTPATH = {スタートアップスクリプトのパス} ./disable_root_ssh.sh

[rule]
SECURITYGROUP = allow-ssh-web   <--- サンプル
ALLOW_PORTS = 22,80,443

[api]
CONOHA_IDENTITY_ENDPOINT_BASE = https://identity.tyo1.conoha.io/v2.0/ <-- ユーザ毎に異なるのでconohaユーザーページから確認が必要
CONOHA_COMPUTE_ENDPOINT_BASE = https://compute.tyo1.conoha.io/v2/ <-- ユーザ毎に異なるのでconohaユーザーページから確認が必要
CONOHA_NETWORK_ENDPOINT_BASE = https://networking.tyo1.conoha.io/v2.0/ <-- ユーザ毎に異なるのでconohaユーザーページから確認が必要
CONOHA_DNS_ENDPOINT_BASE = https://dns-service.tyo1.conoha.io/v1/  <-- ユーザ毎に異なるのでconohaユーザーページから確認が必要

