[admin]
APIUSER = {APIユーザー名}
APIPASS = {APIパスワード}
TENANT = {テナントID}

[server]
ROOTPASS = {ROOTパスワード}   <-- 省略するとコマンドライン引数から取得する
STAG = {ネームタグ}           <-- 省略するとコマンドライン引数から取得する
SECGRP = {セキュリティグループ}
IMAGENAME = {VPSイメージ名}
FLAVORNAME = {VPSプラン名}
SCRIPTPATH = {スタートアップスクリプトのパス}

[rule]
SECURITYGROUP = allow-ssh-web
ALLOW_PORTS = 22,80,443